body{
	
 	/*background-color: #FAF0E6;*/
}

a:link {
	color: midnightblue;
	text-decoration: none;
	background-color: white ;
}

a:hover {
	color:red; 
}

a:visited {
	background-color: tomato;
	color: lightblue;
}

#main-header{
	border: 0px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: lightblue;
}
#main-header h1{
	color: black;
	border: 0px;
	padding: 0;
	margin: 0;
	
	font-size: 90px;
	
}	

#navigation{
	text-align: center;
}

#navigation li{
	display: inline;
	padding-right: 30px ;
	font-size: 25px;
	font-weight: bold;
}


	/*background-image: url(planets.png);*/

	

.container {
	padding: 10px;
	border:1px solid green;
	background-color: whitesmoke;

}

.container p{
	text-align: center;
	 
	font-size: 25px;
	line-height: 1.6em;
	margin-bottom: 30px;
}


.heading {
	text-align: center;
	color: #6b8e23;
	font-size:40px;
	padding-top: 20px;
	border:0;
	margin: 0;

}
.para {
	font-size: 20px;
	padding: 5px 15px 15px 25px;
	line-height: 1.5em;
}

.clear {
	clear: both;
}


#sun h1{
	padding-top: 10px;
}

#sun img{
	float: right;
	width: 20%;
	padding-left: : 10px;
}

#mercury h1{
	padding-top: 10px;
}

#mercury img{
	float: left;
	width: 20%;
	padding-right: 10px;
	border-radius: 10px;
	border:1px solid red;
}

#venus h1{
	padding-top: 10px;
}

#venus img{
	float: right;
	width: 20%;
	padding-left: : 10px;
}

#earth h1{
	padding-top: 10px;
}

#earth img{
	float: left;
	width: 20%;
	padding-right: 10px;
}

#mars h1{
	padding-top: 10px;
}

#mars img{
	float: right;
	width: 20%;
	padding-left: : 10px;

}

#jupiter h1{
	padding-top: 10px;
}

#jupiter img{
	float: left;
	width: 20%;
	padding-right: 10px;
}

#saturn h1{
	padding-top: 10px;
}

#saturn img{
	float: right;
	width: 20%;
	padding-left: : 10px;
}

#uranus h1{
	padding-top: 10px;
}

#uranus img{
	float: left;
	width: 20%;
	padding-right: 10px;
}

#neptune h1{
	padding-top: 10px;
}

#neptune img{
	float: right;
	width: 20%;
	padding-left: : 10px;
}

#pluto h1{
	padding-top: 10px;
}

#pluto img{
	float: left;
	width: 20%;
	padding-right: 10px;
}
